# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Environment files
.env
*.env
venv/
.venv/
env/
ENV/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
